.cta-section {
    background-color: var(--color-background-primary);
    background-image: url('../assets/images/cta-background-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.cta-section__inner {
    display: flex;
}

.cta-section__text {
    max-width: 28rem;
    margin-right: 4rem;
}

.cta-section__form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.cta-section__form-field {
    flex-basis: calc(50% - 0.75rem);
}

.cta-section__button {
    align-self: flex-end;
}
