.flat-item {
    position: relative;
    overflow: hidden;
}

.flat-item::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, transparent 0%, var(--color-background-primary) 100%);
    content: '';
}

.flat-item__image {
    width: 100%;
    height: 100%;
}

.flat-item__name {
    position: absolute;
    bottom: 2.5rem;
    left: 3rem;
    display: block;
}

.flat-item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem 2rem;
    background-color: var(--color-background-primary);
    transform: translateY(100%);
    transition: transform 0.4s;
    opacity: 0.8;
}

.flat-item:hover .flat-item__overlay {
    transform: translateY(0);
}