.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    background-image: linear-gradient(0deg, transparent 0%, var(--color-background-primary) 100%);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}